@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { 
  font-size: 2rem; 
  font-weight: 400;
}
h3 { font-size: 1.75rem; }

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a { text-decoration: none; }

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large { font-size: 1.25rem; }

.display-1 { 
  font-size: 60px; 
  font-weight: 200;
  text-transform: capitalize;
}
.display-2 { 
  font-size: 50px;
  font-weight: 200;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-light {
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  color: #4d4d4d;
}

/* Mainheader */
#mainheader {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Navbar */
#navbar {
  color: #000;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #000;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
  font-weight: 500;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  text-decoration: underline;
}

/* Showcase */
#showcase {
  padding-top: 160px;
  text-align: center;
}

#showcase p {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}

#showcase input {
  padding: 10px 30px;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
}


/* Features */
#features {
  padding-top: 90px;
  padding-bottom: 90px;
}

#features h2 {
  padding-bottom: 40px;
  text-align: center;
}

.features-image-1 {
  float: left;
  width: 50%;
  padding: 30px;
}

.features-image-1 img {
  width: 100%;
  border-top-right-radius: 80px;
}

.features-text-1 {
  float: right;
  width: 50%;
  padding: 30px;
}

.features-text-2 {
  float: left;
  width: 50%;
  padding: 30px;
}

.features-image-2 {
  float: right;
  width: 50%;
  padding: 30px;
}

.features-image-2 img {
  width: 100%;
  border-top-left-radius: 80px;
}

/* Sign Up */
#signup {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 40px;
  padding-bottom: 40px;
}

.signup-text {
  float: left;
  width: 70%;
  color: #fff;
  padding-left: 40px;
}

.signup-btn {
  float: right;
  width: 30%;
  padding-top: 30px;
}

.signup-btn .btn {
  width: 200px;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

/* About */
#about {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

#about h2 {
  padding-bottom: 40px;
}

#about p {
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

/* Footer */
#mainfooter {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding:40px;
}